@media (min-width: 468px) {
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

  :root {
    --primary-color: blue;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: whitesmoke;
    background-size: cover;
  }
}

/* Navbar */
.navbar {
  background-color: transparent;
  color: black;
  height: 70px;
  padding-bottom: 50px;
  border-bottom: black solid;
  margin-bottom: 35px;
}

.navbar ul {
  display: flex;
  float: right;
  list-style: none;
}

.navbar a {
  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 0 5px;
  padding-right: 30px;
}

.navbar a:hover {
  border-bottom: 2px black solid;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar h1 {
  padding-left: 150px;
  font-size: 35px;
}

.container-1 {
  display: flex-start;
  align-items: center;
  min-width: 95%;
  max-width: 99%;
  flex-wrap: wrap;
}

.container-2 {
  display: flex;
  align-items: row;
}

select {
  color: black;
  cursor: pointer;
  width: 21%;
}

label {
  padding: 0px 20px;
}

.input1 {
  width: 70%;
  padding: 5px;
}

.box {
  font-size: 35px;
}

.nexos {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
}

input {
  width: 100%;
}

.btn {
  height: 5px;
}
